.DS_STORE
.config/direnv/lib/
.config/fish/additional_config.fish
.config/nvim/plugin/packer_compiled.lua
.config/zsh/.zcompcache/
.config/zsh/.zcompdump*
.config/zsh/.zhistory
.config/zsh/.zim
.config/zsh/.zsh_history
.config/zsh/.zsh_sessions/
.config/zsh/gitignored.sh
history.sqlite*
history.txt
nixos/os/hardware-configuration.nix
node_modules
